<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
                <div class="active-basket header__cart roboto_light" v-show='show'>
                    <p v-if="!basket.length">корзина пуста</p>
                    <div class="header__cart-lot" v-for="item of basket">
                        <img class="header__cart-lot-img" :src="item.img_product" alt="#" height="50">
                        <p class="header__cart-lot-product">{{ item.product_name }}</p>
                        <p class="header__cart-lot-cost">{{ item.price * item.quantity }}</p>
                        <p class="header__cart-lot-quantity">{{ item.quantity }}</p>
                        <span class="header__cart-lot-plus" @click="removeProduct(item)">+</span>
                    </div>
                </div>
</body>
</html>